header,footer{
	background-color:#a04053;
	
}
img
{
	margin:10px;
}
#information
{	float:right;
	height:100px;
	line-height:40px;
	margin-right:50px;
	color:white;
}

#inf
{
	font-family:Verdana;
	font-size:25px;
}
ul.menuNav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	background-color: #333;
}

li {
    float: left;
	
}

li a, .dropbtn {
    display: inline-block;
    color: white;
	width:150px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

ul.missionAndvision
{
	list-style-type: square;
    margin-left: 20px;
    
	padding-right:40px;
	padding-bottom:40px;
    overflow: hidden;
	margin-top:0px;
	color:#043687;
	font-family:Verdana;
	font-size:15px;
	font-weight:700;
	
}

.main-body
{
	background-image: url("9-2522017123721L.jpg");	
	background-repeat:no-repeat;
	background-size: 100% 100%;
}

.nest1
{
	background-color:#dbca74;
	width:75%;
	margin-left:12.5%;
	
	
}

.image
{
	width:94%;
	padding:2%;
	height:250px;
}

#headline
{
	padding:20px;
	margin:0px;
	font-family:Georgia;
	color:#720dc4;
	font-size:25px;
	font-weight:light;
}

.paragraph
{
	padding-left:40px;
	padding-right:40px;
	font-family:Verdana;
	font-size:15px;
	color:#043687;
	font-weight:700;
	margin-top:0px;
	margin-bottom:2px;
}

#mission
{
	font-family:Georgia;
	color:#720dc4;
	padding:20px;
	padding-bottom:0px;
}
.foot{
	margin-left :500px;
}
footer a{
	width: 75px;
	padding: 14px 8px;
	margin-top:10px;
}
footer h3{
	margin-top:0px;
	text-align:center;
	font-family:helvetica;
	font-size:30px;	 
	color:#d8331a;
	
}
footer p{
	
	text-align:center;
	color:white;	
}
footer div{
	float:right;
	margin-right: 450px;
}
footer img{
	margin-left:300px;
	width:100px;
	margin-top:10px;
}
